<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="root">
        <h1>Все задачи</h1>
        <ul>
            <li v-for="task in tasks" v-text="task.description"></li>
        </ul>
        <h2>Не законченные задачи</h2>
        <ul>
            <li v-for="task in incompliteTask" v-text="task.description"></li>
        </ul>
    </div>
     <script src="https://unpkg.com/vue@2.1.4/dist/vue.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
    let app = new Vue({
        el: "#root",
        data: {
            tasks:[
                {description: 'Сходить в магазин', complited: true},
                {description: 'Закончить урок', complited: false},
                {description: 'Проверить почту', complited: true},
                {description: 'Убрать комнату', complited: false},
            ]
        },
        computed:{
            incompliteTask(){
                return this.tasks.filter( (task) => ! task.complited );
            }
        }

    });
    </script>
  </body>
</html>
