<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title></title>
  </head>
  <body>
     <div id="root" class="row col-md-12">
        <ul>
            <li v-for="name in names">{{ name }}</li>
        </ul>
        <div class="form-group col-md-2">
            <div class="form-group">
                <label for="newname">Добавить новое имя в список:</label>
                <input v-model="newName" type="text" name="" id="newname" value="" class="form-control">
            </div>
            <button v-on:click="addNewName" id="addname" class="btn btn-primary">Добавить в список</button>
        </div>
     </div>

    <script src="https://unpkg.com/vue@2.1.4/dist/vue.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        let app = new Vue({
            el: "#root",
            data: {
                newName: '',
                names: ['Добрынин', 'Иванов', 'Петров']
            },

            methods:{
                addNewName() {
                    if( this.newName == ''){
                        return alert('Введите значение');
                    }
                    this.names.push(this.newName);
                    this.newName = '';
                }
            },

            mounted(){

            }
        });
    </script>
  </body>
</html>
